<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Loading-libraries" data-toc-modified-id="Loading-libraries-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Loading libraries</a></span></li><li><span><a href="#Reading-the-dataset" data-toc-modified-id="Reading-the-dataset-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Reading the dataset</a></span></li><li><span><a href="#Creating-frequency-tables" data-toc-modified-id="Creating-frequency-tables-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Creating frequency tables</a></span><ul class="toc-item"><li><span><a href="#Outlook-frequency-table" data-toc-modified-id="Outlook-frequency-table-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>Outlook frequency table</a></span></li><li><span><a href="#Humidity-frequency-table" data-toc-modified-id="Humidity-frequency-table-3.2"><span class="toc-item-num">3.2&nbsp;&nbsp;</span>Humidity frequency table</a></span></li><li><span><a href="#Wind-frequency-table" data-toc-modified-id="Wind-frequency-table-3.3"><span class="toc-item-num">3.3&nbsp;&nbsp;</span>Wind frequency table</a></span></li></ul></li><li><span><a href="#Creating-likelihood-tables" data-toc-modified-id="Creating-likelihood-tables-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Creating likelihood tables</a></span><ul class="toc-item"><li><span><a href="#Outlook-likelihood-table" data-toc-modified-id="Outlook-likelihood-table-4.1"><span class="toc-item-num">4.1&nbsp;&nbsp;</span>Outlook likelihood table</a></span></li><li><span><a href="#Humidity-likelihood-table" data-toc-modified-id="Humidity-likelihood-table-4.2"><span class="toc-item-num">4.2&nbsp;&nbsp;</span>Humidity likelihood table</a></span></li><li><span><a href="#Wind-likelihood-table" data-toc-modified-id="Wind-likelihood-table-4.3"><span class="toc-item-num">4.3&nbsp;&nbsp;</span>Wind likelihood table</a></span></li></ul></li><li><span><a href="#Creating-dictionaries-for-finding-probability" data-toc-modified-id="Creating-dictionaries-for-finding-probability-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Creating dictionaries for finding probability</a></span></li><li><span><a href="#Question-1" data-toc-modified-id="Question-1-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>Question 1</a></span><ul class="toc-item"><li><span><a href="#Day-1" data-toc-modified-id="Day-1-6.1"><span class="toc-item-num">6.1&nbsp;&nbsp;</span>Day 1</a></span></li></ul></li><li><span><a href="#Day-2:" data-toc-modified-id="Day-2:-7"><span class="toc-item-num">7&nbsp;&nbsp;</span>Day 2:</a></span></li></ul></div>

# Loading libraries

In [1]:
import pandas as pd
import numpy as np
import math
from pandas import DataFrame

# Reading the dataset

In [2]:
df = pd.read_csv('weather.csv')
df

    Day   Outlook Humidity    Wind Play
0    D1     Sunny     High    Weak   No
1    D2     Sunny     High  Strong   No
2    D3  Overcast     High    Weak  Yes
3    D4      Rain     High    Weak  Yes
4    D5      Rain   Normal    Weak  Yes
5    D6      Rain   Normal  Strong   No
6    D7  Overcast   Normal  Strong  Yes
7    D8     Sunny     High    Weak   No
8    D9     Sunny   Normal    Weak  Yes
9   D10      Rain   Normal    Weak  Yes
10  D11     Sunny   Normal  Strong  Yes
11  D12  Overcast     High  Strong  Yes
12  D13  Overcast   Normal    Weak  Yes
13  D14      Rain     High  Strong   No

# Creating frequency tables

In [3]:
length = len(df.index)
l = ['Outlook','Humidity','Wind']
l1 = df['Outlook'].unique().tolist()
l2 = df['Humidity'].unique().tolist()
l3 = df['Wind'].unique().tolist()
l4 = df['Play'].unique().tolist()
play_len = len(l4)
outlook = [[] for i in range(play_len + 1)]
outlook[0] = l1
humidity = [[] for i in range(play_len + 1)]
humidity[0] = l2
wind = [[] for i in range(play_len + 1)]
wind[0] = l3
print(outlook)

14
[['Sunny', 'Overcast', 'Rain'], [], []]

In [4]:
for k in l:
    if k == 'Outlook':
        for i in l1:
            for j in l4:
                df1 = df[df['Outlook'] == i]
                df1 = df1[df1['Play'] == j]
                temp = df1['Play'].value_counts().values.tolist()
                if j == 'No':
                    if (len(temp) == 0):
                        outlook[1].append(0)
                    else:
                        outlook[1].append(temp[0])
                else:
                    if (len(temp) == 0):
                        outlook[2].append(0)
                    else:
                        outlook[2].append(temp[0])
    elif k == 'Humidity':
        for i in l2:
            for j in l4:
                df1 = df[df['Humidity'] == i]
                df1 = df1[df1['Play'] == j]
                temp = df1['Play'].value_counts().values.tolist()
                if j == 'No':
                    if (len(temp) == 0):
                        humidity[1].append(0)
                    else:
                        humidity[1].append(temp[0])
                else:
                    if (len(temp) == 0):
                        humidity[2].append(0)
                    else:
                        humidity[2].append(temp[0])
    elif k == 'Wind':
        for i in l3:
            for j in l4:
                df1 = df[df['Wind'] == i]
                df1 = df1[df1['Play'] == j]
                temp = df1['Play'].value_counts().values.tolist()
                if j == 'No':
                    if (len(temp) == 0):
                        wind[1].append(0)
                    else:
                        wind[1].append(temp[0])
                else:
                    if (len(temp) == 0):
                        wind[2].append(0)
                    else:
                        wind[2].append(temp[0])

## Outlook frequency table

In [5]:
df_outlook = DataFrame(outlook).transpose()
df_outlook.columns = ['Outlook','No','Yes']
df1 = df_outlook
df_outlook.set_index('Outlook',inplace = True)
df_outlook

         No Yes
Outlook
Sunny     3   2
Overcast  0   4
Rain      2   3

## Humidity frequency table

In [6]:
df_humidity = DataFrame(humidity).transpose()
df_humidity.columns = ['Humidity','No','Yes']
df2 = df_humidity 
df_humidity.set_index('Humidity',inplace = True)
df_humidity

         No Yes
Humidity
High      4   3
Normal    1   6

## Wind frequency table

In [7]:
df_wind = DataFrame(wind).transpose()
df_wind.columns = ['Wind', 'No', 'Yes']
df3 = df_wind
df_wind.set_index('Wind',inplace = True)
df_wind

       No Yes
Wind
Weak    2   6
Strong  3   3

# Creating likelihood tables

In [8]:
outlook_sum = df_outlook.sum(axis = 0).values.tolist()
humidity_sum = df_humidity.sum(axis = 0).values.tolist()
wind_sum = df_wind.sum(axis = 0).values.tolist()
print(outlook_sum)

outlook_row = df_outlook.sum(axis = 1).values.tolist()
humidity_row = df_humidity.sum(axis = 1).values.tolist()
wind_row = df_wind.sum(axis = 1).values.tolist()

[5.0, 9.0]

In [9]:
d1 = {}
for i in l:
    d1[i] = {}
    if i == 'Outlook':
        for j in l4:
            temp = df_outlook[j]
            temp = temp.sum(axis = 0)
            temp = temp/length
            d1[i][j] = temp
    elif i == 'Humidity':
        for j in l4:
            temp = df_humidity[j]
            temp = temp.sum(axis = 0)
            temp = temp/length
            d1[i][j] = temp
    elif i == 'Wind':
        for j in l4:
            temp = df_wind[j]
            temp = temp.sum(axis = 0)
            temp = temp/length
            d1[i][j] = temp

In [10]:
print(d1)

{'Outlook': {'No': 0.35714285714285715, 'Yes': 0.6428571428571429}, 'Humidity': {'No': 0.35714285714285715, 'Yes': 0.6428571428571429}, 'Wind': {'No': 0.35714285714285715, 'Yes': 0.6428571428571429}}

In [11]:
df1 = df1.reset_index()
df2 = df2.reset_index()
df3 = df3.reset_index()

In [12]:
for i in l:
    if i == 'Outlook':
        for i,j in zip(l4,outlook_sum):
            df_outlook[i] = df_outlook[i]/j
    elif i == 'Humidity':
        for i,j in zip(l4,humidity_sum):
            df_humidity[i] = df_humidity[i]/j
    elif i == 'Wind':
        for i,j in zip(l4,wind_sum):
            df_wind[i] = df_wind[i]/j

## Outlook likelihood table

In [13]:
df_outlook

           No       Yes
Outlook
Sunny     0.6  0.222222
Overcast    0  0.444444
Rain      0.4  0.333333

## Humidity likelihood table

In [14]:
df_humidity

           No       Yes
Humidity
High      0.8  0.333333
Normal    0.2  0.666667

## Wind likelihood table

In [15]:
df_wind

         No       Yes
Wind
Weak    0.4  0.666667
Strong  0.6  0.333333

# Creating dictionaries for finding probability

In [16]:
outlook = df_outlook.reset_index()
humidity = df_humidity.reset_index()
wind = df_wind.reset_index()

In [17]:
d = {}
for i in l:
    d[i] = {}
    if i == 'Outlook':
        for j in l1:
            d[i][j] = {}
            for k in l4:
                temp = outlook[outlook[i] == j]
                temp = temp[k]
                temp = temp.values.tolist()
                d[i][j][k] = temp[0]
    elif i == 'Humidity':
        for j in l2:
            d[i][j] = {}
            for k in l4:
                temp = humidity[humidity[i] == j]
                temp = temp[k]
                temp = temp.values.tolist()
                d[i][j][k] = temp[0]
    else:
        for j in l3:
            d[i][j] = {}
            for k in l4:
                temp = wind[wind[i] == j]
                temp = temp[k]
                temp = temp.values.tolist()
                d[i][j][k] = temp[0]

In [18]:
o = [x / length for x in outlook_row]
h = [x / length for x in humidity_row]
w = [x / length for x in wind_row]

In [19]:
d2 = {}
for i in l:
    d2[i] = {}
    if i == 'Outlook':
        for j,k in zip(l1,o):
            d2[i][j] = k
    elif i == 'Humidity':
        for j,k in zip(l2,h):
            d2[i][j] = k
    else:
        for j,k in zip(l3,w):
            d2[i][j] = k

In [20]:
d4 = {}
for i in l:
    d4[i] = {}
    if i == 'Outlook':
        for j in l1:
            d4[i][j] = {}
            for k in l4:
                temp = d[i][j][k]
                temp1 = d1[i][k]
                temp2 = d2[i][j]
                d4[i][j][k] = (temp*temp1)/temp2
    elif i == 'Humidity':
        for j in l2:
            d4[i][j] = {}
            for k in l4:
                temp = d[i][j][k]
                temp1 = d1[i][k]
                temp2 = d2[i][j]
                d4[i][j][k] = (temp1*temp)/temp2
    else:
        for j in l3:
            d4[i][j] = {}
            for k in l4:
                temp = d[i][j][k]
                temp1 = d1[i][k]
                temp2 = d2[i][j]
                d4[i][j][k] = (temp1*temp)/temp2

# Question 1

## Day 1

<ul>
    <li>Outlook = Overcast </li>
    <li>Humidity = Normal </li>
    <li>Wind = Weak </li>
    <li>Play = ?</li>
</ul>

In [21]:
t1 = d['Outlook']['Overcast']['Yes'] * d['Humidity']['Normal']['Yes'] * d['Wind']['Weak']['Yes'] * d1['Outlook']['Yes']
print(t1)

0.12698412698412698

In [22]:
t2 = d['Outlook']['Overcast']['No'] * d['Humidity']['Normal']['No'] * d['Wind']['Weak']['No'] * d1['Outlook']['No']
print(t2)

0.0

In [23]:
yes = t1/(t1+t2)
print('Probablity of playing P(yes) : ',yes)

Probablity of playing P(yes) :  1.0

In [24]:
no = t2/(t1+t2)
print('Probability of not playing P(no) : ',no)

Probability of not playing P(no) :  0.0

In [25]:
print('For day 1:')
print(yes*100,'% chance of playing')
print(no*100,'% chance of not playing')

For day 1:
100.0 % chance of playing
0.0 % chance of not playing

# Day 2:

<ul>
    <li>Outlook = Sunny </li>
    <li>Humidity = Normal </li>
    <li>Wind = Strong </li>
    <li>Play = ?</li>
</ul>

In [26]:
t1 = d['Outlook']['Sunny']['Yes'] * d['Humidity']['Normal']['Yes'] * d['Wind']['Strong']['Yes'] * d1['Outlook']['Yes']
print(t1)

0.031746031746031744

In [27]:
t2 = d['Outlook']['Sunny']['No'] * d['Humidity']['Normal']['No'] * d['Wind']['Strong']['No'] * d1['Outlook']['No']
print(t2)

0.025714285714285714

In [28]:
yes = t1/(t1+t2)
print('Probablity of playing P(yes) : ',yes)

Probablity of playing P(yes) :  0.5524861878453038

In [29]:
no = t2/(t1+t2)
print('Probability of not playing P(no) : ',no)

Probability of not playing P(no) :  0.4475138121546961

In [30]:
print('For day 1:')
print(yes*100,'% chance of playing')
print(no*100,'% chance of not playing')

For day 1:
55.24861878453038 % chance of playing
44.75138121546961 % chance of not playing